cffi==1.11.5
colorama==0.4.0
cryptography==2.4.1
enum34==1.1.6
Fabric3==1.14.post1
idna==2.7
ipaddress==1.0.22
ntlm-auth==1.2.0
ordereddict==1.1
paramiko==2.4.2
pyasn1==0.4.4
pycparser==2.19
pyvmomi==6.7.1
pywinrm2==0.0.0
requests==2.20.1
requests-ntlm==1.1.0
six==1.11.0
xmltodict==0.11.0
